/*  THEME COLORS   */

:root {

--bg-color: #222222; /*  slide background    */

--box-bg-color-1: #eed; /*  box backgrounds    */
--box-bg-color-2: #fee4d6;
--box-bg-color-3: #fedbdb;
--box-bg-color-4: #efe9cc;

--title-color: #111; /*  text   */
--main-text-color: #002222;
--text-color-2: #cccccc;
--text-color-3: #ee0066;
--text-color-4: #888888;
--box-text-color: black;
--alert-text-color: red;
--link-color: #f92672;
--fade-in-color: #333;
--fade-out-color: #aaa;
--hide-color: #fef5e7;
--slide-number: #888888;

--shadow-color: #999999; /*  shadows    */

--border-color-1: #aaaaaa; /*  borders */
--border-color-2: #b21;
--border-color-3: #77d;


}

