/*  THEME COLORS   */

:root {

--bg-color: #222222;
--box-color-1: #eed;
--box-color-2: #fee4d6;
--box-color-3: #fedbdb;
--box-color-4: #efe9cc;
--text-color-1: #002222;
--text-color-2: #cccccc;
--text-color-3: #ee0066;
--text-color-4: #888888;
--slide-number: #888888;
--link-color: #f92672;
--shadow-color: #999999;
--border-color-1: #aaaaaa;
--border-color-2: #b21;
--border-color-3: #77d;

}

